version: "3.9" 
services:
  api-gateway:
    build: ./nginx  

    ports:
      - "80:80"

    environment:
    
      SERVICE1_HOST: ${SERVICE1_HOST}  
      SERVICE1_PORT: ${SERVICE1_PORT}  
      SERVICE2_HOST: ${SERVICE2_HOST}  
      SERVICE2_PORT: ${SERVICE2_PORT}
      SERVICE3_HOST: ${SERVICE3_HOST} 
      SERVICE3_PORT: ${SERVICE3_PORT}  
      SERVICE4_HOST: ${SERVICE4_HOST}
      SERVICE4_PORT: ${SERVICE4_PORT}
